<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="pdfkit-page-size" content="Legal"/>
    <meta name="pdfkit-orientation" content="Landscape"/>
    <link rel="icon" href="/static/favicon.ico">
    <meta name="theme-color" content="#7952b3">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Pyramid Circle Grid</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    {% block styles %}
    {% endblock %}

    <script src="/static/js/jquery.slim.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}
    {% endblock %}

<body>
{% block content %}
{% endblock %}
</body>
</html>
